before_script:
  - sudo apt-get update
  - sudo apt-get -y install wget tar bzip2
  - wget http://bensbit.co.uk/ffmpeg-2.1.3-64bit-static.tar.bz2
  - tar jxf ffmpeg-2.1.3-64bit-static.tar.bz2
  - sudo cp ffmpeg-2.1.3-64bit-static/ffmpeg /usr/bin
  - ffmpeg -version
language: node_js
node_js:
  - "0.8"
  - "0.10"
