<?js
var data = obj || {};
?>
<?js if (data.aliases.length > 1) { ?>
<ul>
	<?js data.aliases.forEach(function(alias) { ?>
		<li><?js= alias ?></li>
	<?js }); ?>
</ul>
<?js } else { ?>
	<?js= data.aliases[0] ?>
<?js } ?>